#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #535bf2;
}

main {
  margin: 0 auto;
  max-width: 1280px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #535bf2;
}
